@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toggle A */
input:checked~.dot {
    transform: translateX(100%);
    background-color: #D97706;
}

/* Toggle B */
input:checked~.dot {
    transform: translateX(100%);
    background-color: #D97706;
}

@layer base {
    html {
        font-family: 'estedad', sans-serif;
        direction: rtl;
    }

    /* ::-webkit-scrollbar { */
        /* height: 1px; */
        /* height of horizontal scrollbar ← You're missing this */
        /* width: 1px; */
        /* width of vertical scrollbar */
        /* border: 1px solid #d5d5d5; */
    /* } */

    /* @font-face {
        font-family: vazir;
        src: url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot');
        src: url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff2') format('woff2'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff') format('woff'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-FD-WOL.ttf') format('truetype');
        font-weight: normal;
        font-display: swap;
    }

    @font-face {
        font-family: vazir;
        src: url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot');
        src: url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff2') format('woff2'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff') format('woff'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.ttf') format('truetype');
        font-weight: bold;
        font-display: swap;
    }

    @font-face {
        font-family: vazir;
        src: url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.eot');
        src: url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.eot?#iefix') format('embedded-opentype'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff2') format('woff2'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff') format('woff'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.ttf') format('truetype');
        font-weight: 100;
        font-display: swap;
    }

    @font-face {
        font-family: vazir;
        src: url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.eot');
        src: url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff2') format('woff2'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff') format('woff'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.ttf') format('truetype');
        font-weight: 300;
        font-display: swap;
    }

    @font-face {
        font-family: vazir;
        src: url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot');
        src: url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2') format('woff2'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff') format('woff'),
            url('/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
    } */

    @font-face {
        font-family: estedad;
        font-style: normal;
        font-weight: 100;
        src: url('/fonts/estedad/ttf/Estedad-Light.ttf');
    }

    @font-face {
        font-family: estedad;
        font-style: normal;
        font-weight: 100;
        src: url('/fonts/estedad/ttf/Estedad-Thin.ttf');
    }

    @font-face {
        font-family: estedad;
        font-style: normal;
        font-weight: 200;
        src: url('/fonts/estedad/ttf/Estedad-Regular.ttf');
    }

    /* @font-face {
        font-family: estedad;
        font-style: normal;
        font-weight: 300;
        src: url('/fonts/estedad/ttf/Estedad-Medium.ttf');
    } */

    /* @font-face {
        font-family: estedad;
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/estedad/ttf/Estedad-SemiBold.ttf');
    } */

    /* @font-face {
        font-family: estedad;
        font-style: normal;
        font-weight: 500;
        src: url('/fonts/estedad/ttf/Estedad-Bold.ttf');
    }

    @font-face {
        font-family: estedad;
        font-style: normal;
        font-weight: 600;
        src: url('/fonts/estedad/ttf/Estedad-Black.ttf');
    } */

}